version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  mysql-db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3310:3306"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  users-api:
    build:
      context: .
      dockerfile: ./src/Users.Api/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Server=mysql-db;Database=usersdb;User=root;Password=password;
      - RabbitMQ__Host=rabbitmq
    depends_on:
      - mysql-db
      - rabbitmq

  product-api:
    build:
      context: .
      dockerfile: ./src/Product.Api/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Server=mysql-db;Database=productdb;User=root;Password=password;
      - RabbitMQ__Host=rabbitmq
    depends_on:
      - mysql-db
      - rabbitmq

  inventory-api:
    build:
      context: .
      dockerfile: ./src/Inventory.Api/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Server=mysql-db;Database=inventorydb;User=root;Password=password;
      - RabbitMQ__Host=rabbitmq
    depends_on:
      - mysql-db
      - rabbitmq

  order-api:
    build:
      context: .
      dockerfile: ./src/Order.Api/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Server=mysql-db;Database=orderdb;User=root;Password=password;
      - RabbitMQ__Host=rabbitmq
    depends_on:
      - mysql-db
      - rabbitmq

  api-gateway:
    build:
      context: .
      dockerfile: ./src/ApiGateway/Dockerfile
    ports:
      - "5000:8080"
    depends_on:
      - users-api
      - product-api
      - inventory-api
      - order-api

  ecommerce-web:
    build:
      context: .
      dockerfile: ./src/Ecommerce.Web/Dockerfile
    ports:
      - "5174:8080"
    environment:
      - Services__UsersApi=http://api-gateway:8080/users
      - Services__ProductApi=http://api-gateway:8080/products
    depends_on:
      - api-gateway

  ecommerce-admin:
    build:
      context: .
      dockerfile: ./src/Ecommerce.Admin/Dockerfile
    ports:
      - "5257:8080"
    environment:
      - Services__UsersApi=http://api-gateway:8080/users
      - Services__ProductApi=http://api-gateway:8080/products
      - Services__InventoryApi=http://api-gateway:8080/inventory
    depends_on:
      - api-gateway
